.noTasks {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(201, 209, 217, 1);
  text-align: center;
}

.taskItem {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  background: rgba(33, 38, 45, 1);
  padding: 4px 12px;
  margin-bottom: 10px;
}

.wrapperText {
  display: flex;
  align-items: center;
}

.number {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(201, 209, 217, .5);
  margin-right: 10px;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(201, 209, 217, 1);
  &_completed {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: rgba(201, 209, 217, .5);
    text-decoration: line-through;
  }
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  color: rgba(31, 111, 235, 1);
  font-size: 14px;
  margin-right: 12px;
  transform: translateY(2px);
  transition: .2s all ease;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: rgba(56, 139, 253, 1);
  }
}